Repository syself/cluster-api-provider-hetzner, pull requests merged in 2022-12, with the labels that each got.

#494 :bug: fix ci tests
  Makefile
  hack/ci-e2e-capi.sh
  test/e2e/Makefile
Labels: area/hack, area/test, size/S

#495 :seedling: support capi v1.3.x
  README.md
  test/e2e/data/shared/v1beta1/metadata.yaml
Labels: area/test, size/XS

#516 :sparkles: Enable SSA apply for hcloud and bare metal templates
  api/v1beta1/hcloudmachinetemplate_webhook.go
  api/v1beta1/hetznerbaremetalmachinetemplate_webhook.go
  api/v1beta1/hetznercluster_types.go
  api/v1beta1/hetznercluster_webhook.go
  api/v1beta1/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
  config/webhook/manifests.yaml
  main.go
  templates/cluster-templates/cluster-class-topology-example.yaml
  templates/cluster-templates/cluster-class.yaml
  test/helpers/envtest.go
Labels: area/templates, area/test, area/api, size/XL
