Repository syself/cluster-api-provider-hetzner, pull requests merged in 2023-10, with the labels that each got.

#994 :bug: Delete provision condition after deprovisioning
  pkg/services/baremetal/host/host.go
Labels: area/code, size/XS

#995 🌱 update output syntax in go workflow
  .github/actions/setup-go/action.yaml
Labels: area/github, size/XS

#996 🌱 test for server image list condition
  controllers/hcloudmachine_controller_test.go
  pkg/services/hcloud/client/fake/hcloud_client.go
  pkg/services/hcloud/client/fake/hcloud_client_test.go
Labels: size/L, area/code

#1000 ✨ Add tests for hcloud remediation and hetzner baremetal remediation controller
  controllers/controllers_suite_test.go
  controllers/hcloudremediation_controller.go
  controllers/hcloudremediation_controller_test.go
  controllers/hetznerbaremetalremediation_controller.go
  controllers/hetznerbaremetalremediation_controller_test.go
  pkg/services/baremetal/remediation/remediation.go
Labels: size/L, area/code

#1008 🌱 Refactor events for remediation controllers
  pkg/services/baremetal/remediation/remediation.go
  pkg/services/hcloud/remediation/remediation.go
Labels: area/code

#1005 :bug: Fix provision condition time lag
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/state_machine.go
Labels: area/code

#1016 :sparkles: use vendored installimage
  Makefile
  Tiltfile
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznerbaremetalremediation_controller_test.go
  data/hetzner-install-image-v1.0.0.tgz
  hack/filter-caph-controller-manager-logs.py
  hack/kind-dev.sh
  hack/output-for-watch.sh
  images/caph/Dockerfile
  pkg/services/baremetal/client/mocks/ssh/Client.go
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/baremetal/host/host.go
Labels: area/hack, size/M, area/code

#1017 🌱 add helm target to Makefile
  Makefile
Labels: area/hack

#1019 🌱 include .builder-image-version.txt in filters
  .github/workflows/schedule-update-bot.yaml
Labels: area/github

#1020 🌱 update workflows to run only on upstream repo
  .github/workflows/schedule-cache-cleaner-caph-image.yml
  .github/workflows/schedule-link-checker.yml
  .github/workflows/schedule-scan-image.yml
Labels: area/github

#1022 :seedling: Update of hetzner-installimage via Makefile.
  Makefile
  Tiltfile
  data/hetzner-install-image-v1.0.0.tgz
  data/hetzner-installimage-v1.0.3.tgz
  docs/reference/hetzner-bare-metal-machine-template.md
  images/caph/Dockerfile
  pkg/services/baremetal/client/ssh/ssh_client.go
Labels: area/hack, area/code

#1033 🌱 update bot timings
  .github/renovate/groups.json5
Labels: area/github

#1024 :bug: Ensure secret contains non-empty creds
  controllers/hetznercluster_controller.go
Labels: area/code
