Repository syself/cluster-api-provider-hetzner, pull requests merged in 2023-02, with the labels that each got.

#588 :seedling: fix golang dep for update-bot
  .github/renovate/golang.json5
Labels: area/github, size/XS

#602 :seedling: fixing update-bot and test workflow
  .github/pull_request_template.md
  .github/renovate.json5
  .github/workflows/test.yml
  hack/semver-upgrade.sh
Labels: area/github, area/hack, size/M

#603 :seedling: fixing inconsistent vendor
  .github/workflows/pr-e2e.yaml
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/types/config.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/github.com/onsi/gomega/gstruct/elements.go
  vendor/github.com/onsi/gomega/gstruct/errors/nested_types.go
  vendor/github.com/onsi/gomega/gstruct/fields.go
  vendor/github.com/onsi/gomega/gstruct/ignore.go
  vendor/github.com/onsi/gomega/gstruct/keys.go
  vendor/github.com/onsi/gomega/gstruct/pointer.go
  vendor/github.com/onsi/gomega/gstruct/types.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/test/e2e/clusterctl_upgrade.go
  vendor/sigs.k8s.io/cluster-api/test/e2e/self_hosted.go
  vendor/sigs.k8s.io/cluster-api/test/framework/bootstrap/kind_provider.go
  vendor/sigs.k8s.io/cluster-api/test/framework/clusterctl/client.go
  vendor/sigs.k8s.io/cluster-api/test/framework/controlplane_helpers.go
  vendor/sigs.k8s.io/cluster-api/test/framework/kubetest/run.go
  vendor/sigs.k8s.io/cluster-api/test/infrastructure/container/docker.go
  vendor/sigs.k8s.io/cluster-api/test/infrastructure/container/interface.go
Labels: area/github, size/XL

#604 :seedling: fixing unit test
  .github/workflows/test.yml
  .gitignore
  Makefile
  hack/golang-modules-update.sh
  vendor/sigs.k8s.io/cluster-api/util/kubeconfig/kubeconfig.go
  vendor/sigs.k8s.io/cluster-api/util/kubeconfig/testing.go
Labels: size/L, area/github, area/hack

#606 :seedling: fixing integration test
  .github/workflows/test.yml
  Makefile
Labels: area/github, area/hack, size/XS

#608 :seedling: fixing e2e tests
  .github/workflows/e2e-basic-baremetal.yaml
  .github/workflows/e2e-basic-packer.yaml
  .github/workflows/e2e-basic.yaml
  .github/workflows/e2e-feature-baremetal.yaml
  .github/workflows/e2e-feature.yaml
  .github/workflows/e2e-periodic.yaml
  .github/workflows/e2e-upgrade-caph.yaml
  .github/workflows/e2e-upgrade-kubernetes.yaml
Labels: area/github, size/XS

#611 :seedling: clean-up docker and adding nightly build
  .github/actions/manager-image/action.yaml
  .github/workflows/build.yml
  .github/workflows/pr-e2e.yaml
  .github/workflows/release.yml
  Makefile
  images/caph/Dockerfile
  images/caph/Dockerfile.cross
Labels: area/github, area/hack, size/M

#614 :seedling: fixing checkout and nightly build
  .github/workflows/build.yml
  .github/workflows/pr-e2e.yaml
  .github/workflows/pr-lint.yml
  .github/workflows/pr-verify.yml
  .github/workflows/release.yml
Labels: area/github, size/XS

#615 :seedling: adding cache to image build
  .github/actions/manager-image/action.yaml
  .github/workflows/build.yml
  .github/workflows/pr-e2e.yaml
  .github/workflows/schedule-cache-cleaner-caph-image.yml
Labels: area/github, size/M

#617 :seedling: fix lychee toml
  .lychee.toml
Labels: size/XS

#621 :seedling: fix lychee workflow
  .github/workflows/schedule-link-checker.yml
  .lychee.toml
  Makefile
  README.md
Labels: area/github, area/hack, size/XS

#613 🐛 Subnet does not use the specified CIDR
  pkg/services/hcloud/network/network.go
Labels: area/code, size/XS

#625 :seedling: corev1.NodeAddress -> clusterv1.MachineAddress
  api/v1beta1/hcloudmachine_types.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachines.yaml
  controllers/csr_controller.go
  pkg/csr/csr.go
  pkg/csr/csr_test.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/baremetal/baremetal_test.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/server/server_suite_test.go
Labels: size/M, area/code, area/api
