Repository syself/cluster-api-provider-hetzner, pull requests merged in 2023-12, with the labels that each got.

#1071 :sparkles: download BM images via oci-registry.
  Makefile
  api/v1beta1/conditions_const.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  docs/reference/hetzner-bare-metal-machine-template.md
  hack/filter-caph-controller-manager-logs.py
  hack/output-for-watch.sh
  pkg/services/baremetal/client/ssh/download-from-oci.sh
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/baremetal/host/host.go
Labels: size/L, area/hack, area/code, area/api

#1064 :bug: Remove deprecated KCM argument `pod-eviction-timeout`
  templates/cluster-templates/bases/hcloud-kcp-fedora.yaml
  templates/cluster-templates/bases/hcloud-kcp-packer.yaml
  templates/cluster-templates/bases/hcloud-kcp-ubuntu.yaml
  templates/cluster-templates/bases/hetznerbaremetal-kcp-ubuntu.yaml
  templates/cluster-templates/cluster-class.yaml
Labels: area/templates, size/XS

#1074 :seedling: removed not needed file.
  pkg/services/baremetal/client/ssh/download-from-oci.sh
Labels: size/M, area/code

#1075 :seedling: fix flaky test, increase timeout.
  Makefile
  controllers/hetznerbaremetalhost_controller_test.go
Labels: area/hack, area/code, size/XS

#1082 🌱 use v5 version of labeler
  .github/labeler.yaml
Labels: area/github

#1086 :seedling: Pre-Release. Update docs and versions.
  .github/actions/e2e/action.yaml
  README.md
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
Labels: area/github, area/test, size/S

#1088 :seedling: increase wait time for e2e upgrade test.
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
Labels: area/test, size/XS

#1087 ✨ change registration of types to scheme
  api/v1beta1/groupversion_info.go
  api/v1beta1/hcloudmachine_types.go
  api/v1beta1/hcloudmachinetemplate_types.go
  api/v1beta1/hcloudremediation_types.go
  api/v1beta1/hcloudremediationtemplate_types.go
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  api/v1beta1/hetznerbaremetalmachinetemplate_types.go
  api/v1beta1/hetznerbaremetalremediation_types.go
  api/v1beta1/hetznerbaremetalremediationtemplate_types.go
  api/v1beta1/hetznercluster_types.go
  api/v1beta1/hetznerclustertemplate_types.go
Labels: area/api

#1091 :seedling: better error message if secret for BM is missing.
  controllers/hetznerbaremetalhost_controller.go
  docs/developers/releasing.md
Labels: area/code, size/XS

#1092 🌱 update script to update .envrc
  hack/ci-e2e-get-token.sh
Labels: area/hack
