Repository syself/cluster-api-provider-hetzner, pull requests merged in 2023-09, with the labels that each got.

#881 :seedling: Refactor rate limit condition
  api/v1beta1/conditions_const.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
  pkg/services/baremetal/host/host.go
  pkg/services/hcloud/util/utils.go
Labels: size/M, area/code, area/api

#879 :seedling: Do not mark conditions false if no network exists
  api/v1beta1/conditions_const.go
  controllers/hetznercluster_controller_test.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/network/network.go
Labels: area/code, size/XS, area/api

#878 :seedling: fix constant log "... is missing cluster label"
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudmachinetemplate_controller_test.go
Labels: area/code, size/XS

#883 :seedling: rename Condition of loadbalancer
  api/v1beta1/conditions_const.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
Labels: area/code, size/XS, area/api

#884 :seedling: Add suffix to Conditions and Reasons
  api/v1beta1/conditions_const.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/state_machine.go
  pkg/services/hcloud/network/network.go
Labels: size/M, area/code, area/api

#888 :seedling: use SetSummary, extend printcolumns.
  api/v1beta1/hcloudmachine_types.go
  api/v1beta1/hcloudmachinetemplate_types.go
  api/v1beta1/hcloudremediation_types.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  api/v1beta1/hetznercluster_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  controllers/hetznercluster_controller.go
  pkg/scope/baremetalmachine.go
  pkg/scope/cluster.go
  pkg/scope/hcloudmachinetemplate.go
  pkg/scope/hcloudremediation.go
  pkg/scope/machine.go
Labels: size/M, area/code, area/api

#885 :seedling: set HCloudTokenAvailableCondition
  api/v1beta1/conditions_const.go
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachine_controller_test.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudremediation_controller.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
Labels: area/code, area/api, size/S

#889 :bug: Fix conditions getting ok again.
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudremediation_controller.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznercluster_controller.go
Labels: area/code, size/XS

#891 :sparkles: Reuse existing load balancer
  api/v1beta1/conditions_const.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
  pkg/services/hcloud/client/fake/hcloud_client.go
  pkg/services/hcloud/client/fake/hcloud_client_test.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/loadbalancer/loadbalancer_test.go
Labels: size/L, area/code, area/api

#892 :bug: Fix conditions for wrong hcloud token and other conditions
  api/v1beta1/conditions_const.go
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudremediation_controller.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznercluster_controller.go
  pkg/services/hcloud/client/client.go
  pkg/services/hcloud/server/server.go
Labels: size/M, area/code, area/api

#893 :bug: Handle remaining unauthorized
  pkg/services/hcloud/client/client.go
Labels: area/code, size/XS

#902 :seedling: Refactor conditions of provider machine objects
  api/v1beta1/conditions_const.go
  controllers/controllers_suite_test.go
  controllers/hcloudmachine_controller_test.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznerbaremetalmachine_controller_test.go
  controllers/hetznercluster_controller_test.go
  pkg/scope/baremetalmachine.go
  pkg/scope/cluster.go
  pkg/scope/machine.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/server/server_test.go
Labels: size/L, area/code, area/api

#900 :seedling: Refactor conditions of HetznerCluster
  api/v1beta1/conditions_const.go
  controllers/controllers_suite_test.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
  pkg/services/baremetal/host/utils.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/network/network.go
  pkg/services/hcloud/placementgroup/placementgroup.go
Labels: size/L, area/code, area/api

#903 :seedling: fix typo
  docs/developers/updating-kubernetes-version.md
  hack/boilerplate/boilerplate.py
Labels: area/hack

#901 :seedling: Refactor conditions for HetznerBareMetalHosts
  api/v1beta1/conditions_const.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalhost_controller_test.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/state_machine.go
Labels: size/M, area/code, area/api

#904 :seedling: Refactor hcloudcontroller tests
  controllers/controllers_suite_test.go
  controllers/hcloudmachine_controller_test.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
Labels: size/L, area/code

#906 :seedling: Refactor tests of hetznercluster controller
  controllers/controllers_suite_test.go
  controllers/hcloudmachine_controller_test.go
  controllers/hetznercluster_controller_test.go
Labels: area/code, size/XL

#907 :seedling: Refactor hetznerbaremetalmachine-controller tests
  controllers/hetznerbaremetalmachine_controller_test.go
Labels: size/M, area/code

#909 :seedling: Refactor controller tests and fake HCloud client
  controllers/hcloudmachinetemplate_controller_test.go
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznercluster_controller_test.go
  pkg/services/hcloud/client/fake/hcloud_client.go
Labels: size/L, area/code

#911 :seedling: Refactor unit tests
  pkg/services/baremetal/host/host_test.go
  pkg/services/baremetal/host/state_machine_test.go
  pkg/services/baremetal/host/utils_test.go
  pkg/services/hcloud/server/server_test.go
  pkg/services/hcloud/util/utils_test.go
  pkg/utils/utils_test.go
Labels: size/XXL, area/code

#915 🐛 Don't use server number in the error message
  pkg/services/baremetal/host/host.go
Labels: area/code, size/XS

#908 ✨ Add hetznerbaremetal machine webhook tests
  controllers/hetznerbaremetalmachine_controller_test.go
Labels: size/M, area/code

#898 :seedling: replace deprecated TTS for getting temp hetzner cloud tokens
  .github/actions/e2e/action.yaml
  .github/workflows/e2e-basic-baremetal.yaml
  .github/workflows/e2e-basic-packer.yaml
  .github/workflows/e2e-basic.yaml
  .github/workflows/e2e-feature-baremetal.yaml
  .github/workflows/e2e-feature.yaml
  .github/workflows/e2e-periodic.yaml
  .github/workflows/e2e-upgrade-caph.yaml
  .github/workflows/e2e-upgrade-kubernetes.yaml
  .github/workflows/pr-e2e.yaml
  hack/ci-e2e-delete-token.sh
  hack/ci-e2e-get-token.sh
Labels: area/github, area/hack, size/M

#923 ✨ Add flag for HCloud rate limitting
  controllers/controllers_suite_test.go
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudremediation_controller.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
  main.go
  test/helpers/envtest.go
Labels: area/test, area/code, size/S

#931 ✨ Add webhook for hetzner baremetal host server ID
  api/v1beta1/hetznerbaremetalhost_webhook.go
Labels: size/XS, area/api

#927 🐛Don't reboot if HetzerBareMetalMachine not found
  pkg/services/baremetal/remediation/remediation.go
Labels: area/code, size/XS

#938 🐛 Rename HetznerBareMetalMachine to HetznerBareMetalHost
  pkg/services/baremetal/remediation/remediation.go
Labels: area/code, size/XS

#925 🌱 make less api calls on up-to-date placement groups
  pkg/services/hcloud/placementgroup/placementgroup.go
Labels: area/code, size/XS

#914 :seedling: Handle weird rate limit exceeded error of robot API
  pkg/services/baremetal/host/host.go
Labels: area/code

#924 ✨ Add metrics from hcloud-go
  pkg/services/hcloud/client/client.go
Labels: area/code, size/XS

#932 ✨ Add webhook to check if same serverID baremetal host exist or not
  api/v1beta1/hetznerbaremetalhost_webhook.go
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznerbaremetalmachine_controller_test.go
  main.go
  pkg/services/baremetal/host/host_suite_test.go
  pkg/services/baremetal/host/host_test.go
  test/helpers/defaults.go
  test/helpers/envtest.go
Labels: size/M, area/test, area/code, area/api

#946 :bug: Update host on error
  pkg/services/baremetal/host/host.go
Labels: area/code, size/S

#942 :seedling: Set condition in case of errors with hcloud images
  api/v1beta1/conditions_const.go
  pkg/services/hcloud/server/server.go
Labels: area/code, area/api, size/S

#935 ✨ Handle HCloudMachineTemplate controller clusterclass as a owner
  api/v1beta1/hcloudmachinetemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachinetemplates.yaml
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudmachinetemplate_controller_test.go
  go.mod
Labels: size/L, area/code, area/api

#948 :sparkles: Add logging to hetzner robot API client.
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalmachine_controller.go
  go.mod
  go.sum
  main.go
  pkg/services/baremetal/client/robot/robot_client.go
  pkg/services/baremetal/host/host.go
  vendor/github.com/syself/hrobot-go/README.md
  vendor/github.com/syself/hrobot-go/client.go
  vendor/modules.txt
Labels: size/M, area/code

#944 :bug: Add timeout to fix bug that hardware reboot is triggered right after software reboot
  pkg/services/baremetal/host/host.go
Labels: area/code

#950 :sparkles: Introducing permanent error for host objects
  api/v1beta1/conditions_const.go
  api/v1beta1/hetznerbaremetalhost_types.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_test.go
Labels: size/M, area/code, area/api

#945 :bug: Add kubeapi service to existing load balancer
  controllers/hetznerbaremetalmachine_controller_test.go
  controllers/hetznercluster_controller_test.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/util/utils.go
Labels: size/M, area/code

#934 🌱 ignore cluster condition updates when enqueueing events
  controllers/hcloudmachine_controller.go
Labels: area/code

#949 🐛 Add condition for server rate limit exceed while creating hcloud servers
  api/v1beta1/conditions_const.go
  pkg/services/hcloud/server/server.go
Labels: area/code, size/XS, area/api

#956 :bug: Handle remediation of hosts in maintenance
  pkg/services/baremetal/remediation/remediation.go
Labels: area/code, size/XS

#959 :bug: Fix return result for bm hosts
  api/v1beta1/conditions_const.go
  controllers/hetznerbaremetalhost_controller.go
  pkg/services/baremetal/host/action_result.go
  pkg/services/baremetal/host/host.go
Labels: area/code, area/api, size/S

#692 🌱 Set Application Name in hcloud-go client
  pkg/services/hcloud/client/client.go
Labels: area/code, size/XS

#855 :seedling: Removed not needed files and env vars.
  .github/workflows/pr-e2e.yaml
  .github/workflows/test.yml
  Makefile
  docs/developers/releasing.md
  docs/reference/hcloud-remediation-template copy.md
  hack/ensure-golangci-lint.sh
  hack/golang-modules-update.sh
  test/e2e/Makefile
Labels: size/L, area/github, area/hack, area/test

#960 🌱 add unit tests for IgnoreHetznerClusterConditionUpdates
  controllers/hcloudmachine_controller_test.go
Labels: size/M, area/code

#912 :sparkles: Deny old CSR
  .golangci.yaml
  controllers/csr_controller.go
Labels: size/M, area/code

#955 :bug: Remove cluster label from existing lb on delete
  api/v1beta1/conditions_const.go
  controllers/hetznercluster_controller_test.go
  pkg/services/hcloud/client/fake/hcloud_client.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
Labels: size/M, area/code, area/api

#961 :seedling: update caph latest version and capi
  .github/actions/e2e/action.yaml
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
Labels: area/github, area/test, size/S

#958 ✨ add versioning information to controller
  Tiltfile
  hack/version.sh
  main.go
  pkg/services/hcloud/client/client.go
  pkg/version/version.go
Labels: area/hack, size/M, area/code

#905 ⚠️ Bump golang 1.20 => 1.21
  .builder-image-version.txt
  .github/actions/manager-image/action.yaml
  .github/actions/metadata/action.yaml
  .github/renovate/golang.json5
  .github/workflows/build.yml
  .github/workflows/main-promote-builder-image.yml
  .github/workflows/pr-lint.yml
  .github/workflows/release.yml
  .github/workflows/schedule-cache-cleaner-caph-image.yml
  .github/workflows/schedule-scan-image.yml
  .golangci-suggestions.yaml
  .golangci.yaml
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hetznerbaremetalmachine_controller.go
  go.mod
  go.sum
  hack/golang-modules-update.sh
  hack/upgrade-builder-image.sh
  images/builder/Dockerfile
  images/caph/Dockerfile
  pkg/services/baremetal/client/robot/robot_client.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
Labels: area/github, area/hack, size/M, area/code

#951 :sparkles: debug rate-limiting
  pkg/services/baremetal/host/host.go
  pkg/services/hcloud/util/utils.go
Labels: area/code, size/S

#933 🌱 reduce reconciles by sorting hetznerCluster.status.networkStatus.attachedServers
  pkg/services/hcloud/network/network.go
Labels: area/code

#966 :seedling: update caph builder image to 1.0.9
  .builder-image-version.txt
  .github/workflows/main-promote-builder-image.yml
  .github/workflows/pr-lint.yml
  .github/workflows/schedule-scan-image.yml
  controllers/hcloudmachine_controller_test.go
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznerbaremetalmachine_controller_test.go
  controllers/hetznercluster_controller_test.go
  images/builder/Dockerfile
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/baremetal/baremetal_test.go
  pkg/services/baremetal/host/host_test.go
  pkg/services/hcloud/client/client.go
  pkg/services/hcloud/server/server_test.go
  pkg/utils/utils_test.go
Labels: area/github, area/code

#967 :bug: fix update bot mounting docker socket
  .github/workflows/schedule-update-bot.yaml
Labels: area/github

#969 :bug: Fix requeue on error
  api/v1beta1/conditions_const.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznercluster_controller.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_test.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/server/server.go
Labels: size/M, area/code, area/api

#952 ✨ Add new API status for the HetznerBareMetalMachineStatus
  api/v1beta1/hetznerbaremetalmachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachines.yaml
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznerbaremetalmachine_controller_test.go
  pkg/services/baremetal/baremetal/baremetal.go
Labels: size/M, area/code, area/api

#971 :seedling: handle deprovision of bare metal.
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/baremetal/host/host.go
Labels: area/code, size/S

#957 :sparkles: printcolumns alignement.
  api/v1beta1/hcloudmachine_types.go
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachines.yaml
Labels: size/M, area/api

#974 :seedling: Show api calls only in debug mode
  pkg/services/baremetal/client/robot/robot_client.go
Labels: area/code, size/XS

#973 :seedling: Rename deprecated conditions
  api/v1beta1/conditions_const.go
  controllers/hetznercluster_controller.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/host/host.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/network/network.go
  pkg/services/hcloud/server/server.go
Labels: area/code, area/api

#954 ✨ Add new condition for the hetznerbaremetal machine
  api/v1beta1/conditions_const.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalmachine_controller_test.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/host/host.go
Labels: area/code, area/api

#979 :bug: fix caph-builder version
  .builder-image-version.txt
Labels: size/XS

#976 :seedling: Aligning printcolumn phase of all objects
  api/v1beta1/hcloudmachine_types.go
  api/v1beta1/hetznerbaremetalhost_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
Labels: size/XS, area/api

#983 :seedling: fix lint workflow
  .github/workflows/pr-lint.yml
  .yamllint.yaml
  api/v1beta1/hcloudmachine_types.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
  controllers/hetznerbaremetalmachine_controller.go
  pkg/services/baremetal/baremetal/baremetal.go
Labels: area/github, area/code, area/api, size/S

#984 :bug: Fix bm remediation if no host attached
  pkg/services/baremetal/remediation/remediation.go
Labels: area/code

#991 :bug: Fix robot log and switch to pflag
  Tiltfile
  config/manager/manager.yaml
  go.mod
  main.go
  pkg/services/baremetal/client/robot/robot_client.go
Labels: area/code, size/S

#992 :seedling: Improve startup of target cluster manager
  Tiltfile
  api/v1beta1/conditions_const.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hetznercluster_controller.go
Labels: size/M, area/code, area/api

#993 :seedling: update ccm version
  Makefile
  docs/topics/quickstart.md
  test/e2e/data/ccm/hcloud-ccm-hetzner.yaml
  test/e2e/data/ccm/hcloud-ccm-network.yaml
Labels: area/hack, area/test, size/S
