Repository syself/cluster-api-provider-hetzner, pull requests merged in 2023-07, with the labels that each got.

#759 :seedling: Follow linting suggestions in host pkg
  .golangci-suggestions.yaml
  .golangci.yaml
  pkg/services/baremetal/host/action_result.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_suite_test.go
  pkg/services/baremetal/host/host_test.go
  pkg/services/baremetal/host/state_machine.go
  pkg/services/baremetal/host/utils.go
  pkg/services/baremetal/host/utils_test.go
Labels: area/code, size/XL

#839 :seedling: Fix linting
  .golangci.yaml
  .lychee.toml
  api/v1beta1/hcloudremediation_webhook.go
  api/v1beta1/hcloudremediationtemplate_webhook.go
  api/v1beta1/hetznerbaremetalhost_webhook.go
  api/v1beta1/hetznerbaremetalremediation_webhook.go
  api/v1beta1/hetznerbaremetalremediationtemplate_webhook.go
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudremediation_controller.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznerbaremetalremediation_controller.go
  controllers/hetznercluster_controller.go
  main.go
  pkg/scope/baremetalhost.go
  pkg/scope/baremetalmachine.go
  pkg/scope/baremetalremediation.go
  pkg/scope/cluster.go
  pkg/scope/hcloudmachinetemplate.go
  pkg/scope/hcloudremediation.go
  pkg/scope/machine.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/client/mocks/factory.go
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/hcloud/client/client.go
  pkg/services/hcloud/client/fake/hcloud_client.go
  pkg/services/hcloud/server/server.go
Labels: size/M, area/code, area/api

#778 :seedling: Refactor code of hcloud remediation
  pkg/services/baremetal/client/robot/credentials.go
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/hcloud/remediation/remediation.go
  pkg/services/hcloud/remediation/remediation_test.go
Labels: size/L, area/code

#841 🌱 Enable linting on pull requests
  .github/workflows/pr-lint.yml
Labels: area/github, size/XS

#835 :seedling: clean up Makefile
  .builder-image-version.txt
  Makefile
  Tiltfile
  docs/topics/quickstart.md
  hack/ensure-env-variables.sh
  hack/output-for-watch.sh
  hack/tail-controller-logs.sh
  hack/upgrade-builder-image.sh
Labels: size/L, area/hack

#842 :bug: fix BUILDER_IMAGE_VERSION
  Makefile
Labels: area/hack, size/XS

#844 📖 fix(docs): unrequired trailing slash for env var export
  docs/topics/preparation.md
Labels: size/XS

#755 :bug: Fix resetting bm servers
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/client/ssh/ssh_client.go
Labels: area/code, size/XS

#846 :seedling: better `make watch`
  Makefile
  hack/output-for-watch.sh
Labels: area/hack, size/S

#849 🌱 Sorting goimports
  .golangci.yaml
  api/v1beta1/hcloudmachine_webhook.go
  api/v1beta1/hetznercluster_webhook.go
  api/v1beta1/hetznerclustertemplate_webhook.go
  controllers/controllers_suite_test.go
  controllers/csr_controller.go
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachine_controller_test.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudmachinetemplate_controller_test.go
  controllers/hcloudremediation_controller.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznerbaremetalmachine_controller_test.go
  controllers/hetznerbaremetalremediation_controller.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
  main.go
  pkg/csr/csr_test.go
  pkg/scope/baremetalhost.go
  pkg/scope/baremetalmachine.go
  pkg/scope/baremetalremediation.go
  pkg/scope/cluster.go
  pkg/scope/hcloudmachinetemplate.go
  pkg/scope/hcloudremediation.go
  pkg/scope/machine.go
  pkg/scope/machine_test.go
  pkg/secrets/secret.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/baremetal/baremetal_suite_test.go
  pkg/services/baremetal/baremetal/baremetal_test.go
  pkg/services/baremetal/client/robot/robot_client.go
  pkg/services/baremetal/client/ssh/credentials.go
  pkg/services/baremetal/host/action_result.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_suite_test.go
  pkg/services/baremetal/host/host_test.go
  pkg/services/baremetal/host/state_machine.go
  pkg/services/baremetal/host/state_machine_test.go
  pkg/services/baremetal/host/utils_test.go
  pkg/services/baremetal/remediation/remediation.go
  pkg/services/baremetal/remediation/remediation_test.go
  pkg/services/hcloud/client/fake/hcloud_client.go
  pkg/services/hcloud/client/fake/hcloud_client_test.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/loadbalancer/loadbalancer_suite_test.go
  pkg/services/hcloud/loadbalancer/loadbalancer_test.go
  pkg/services/hcloud/machinetemplate/machinetemplate.go
  pkg/services/hcloud/network/network.go
  pkg/services/hcloud/network/network_test.go
  pkg/services/hcloud/placementgroup/placementgroup.go
  pkg/services/hcloud/placementgroup/placementgroup_test.go
  pkg/services/hcloud/remediation/remediation.go
  pkg/services/hcloud/remediation/remediation_test.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/server/server_suite_test.go
  pkg/services/hcloud/server/server_test.go
  pkg/services/hcloud/util/utils.go
  pkg/utils/utils_test.go
Labels: area/code, area/api

#847 :seedling: .envrc.sample, fix hetzner-ccm, fix BM remediation.
  .envrc.sample
  Makefile
  Tiltfile
  controllers/hcloudmachinetemplate_controller.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznercluster_controller.go
  hack/ci-e2e-delete-token.sh
  hack/get-kubeconfig-of-workload-cluster.sh
  hack/output-for-watch.sh
  pkg/scope/baremetalremediation.go
  pkg/services/baremetal/client/robot/credentials.go
  pkg/services/baremetal/remediation/remediation.go
  templates/cluster-templates/bases/hcloud-hetznerCluster-network.yaml
  templates/cluster-templates/bases/hcloud-hetznerCluster.yaml
Labels: size/L, area/hack, area/templates, area/code

#854 :book: Improve documentation.
  README.md
  docs/developers/releasing.md
  docs/topics/quickstart.md
Labels: size/XS

#856 :book: updated README.md k8s version table
  README.md
Labels: size/XS
