Repository syself/cluster-api-provider-hetzner, pull requests merged in 2023-08, with the labels that each got.

#863 🌱 update upgrade script
  .github/workflows/schedule-update-bot.yaml
  hack/upgrade-builder-image.sh
Labels: area/github, area/hack, size/XS

#872 🌱 Update HCloud instance types
  api/v1beta1/hcloudmachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachinetemplates.yaml
Labels: size/XS, area/api

#873 :bug: Handle nil server in remediation
  pkg/services/hcloud/remediation/remediation.go
Labels: area/code, size/XS

#876 :bug: Add missing ARCH variable to the Ubuntu KubeadmControlPlane
  templates/cluster-templates/bases/hcloud-kcp-ubuntu.yaml
Labels: area/templates, size/XS

#877 :seedling: add `-sync-period` option. Default 3min
  main.go
Labels: size/XS
