Repository syself/cluster-api-provider-hetzner, pull requests merged in 2023-04, with the labels that each got.

#726 :bug: fix workflow for wrong PR types
  .github/workflows/pr-verify.yml
Labels: area/github, size/XS

#733 :seedling: group builder image update types
  .github/renovate/groups.json5
Labels: area/github, size/XS

#724 :bug: Fix rate limit handling and refactoring SSH validation
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/state_machine.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/machinetemplate/machinetemplate.go
  pkg/services/hcloud/network/network.go
  pkg/services/hcloud/placementgroup/placementgroup.go
  pkg/services/hcloud/remediation/remediation.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/util/utils.go
Labels: size/L, area/code

#736 :seedling: Update host reboot logic
  api/v1beta1/hetznerbaremetalhost_types.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_test.go
Labels: size/L, area/code, area/api

#739 :seedling: Replace pkg/errors with std lib errors
  api/v1beta1/hetznerbaremetalmachine_types.go
  api/v1beta1/hetznerbaremetalmachine_types_test.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
  go.mod
  pkg/scope/baremetalhost.go
  pkg/scope/baremetalmachine.go
  pkg/scope/baremetalremediation.go
  pkg/scope/cluster.go
  pkg/scope/hcloudmachinetemplate.go
  pkg/scope/hcloudremediation.go
  pkg/scope/machine.go
  pkg/secrets/secret.go
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/baremetal/remediation/remediation.go
  pkg/services/hcloud/client/fake/hcloud_client.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/machinetemplate/machinetemplate.go
  pkg/services/hcloud/network/network.go
  pkg/services/hcloud/placementgroup/placementgroup.go
  pkg/utils/utils.go
  test/e2e/log_collector.go
  test/helpers/mod.go
Labels: size/L, area/test, area/code, area/api

#709 :seedling: Fewer warnings in e2e test
  test/e2e/Makefile
  test/e2e/common.go
Labels: area/test, size/S

#743 :seedling: In Makefile remove "$(SUDO)"
  Makefile
Labels: area/hack, size/S

#740 :sparkles: Track target cluster status through conditions
  api/v1beta1/conditions_const.go
  controllers/hetznercluster_controller.go
Labels: area/code, area/api

#749 :seedling: Increase e2e timeout for control planes
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
Labels: area/test, size/XS

#745 :bug: Fix wrong lb type
  api/v1beta1/types.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/loadbalancer/loadbalancer_test.go
Labels: size/L, area/code, area/api

#744 :sparkles: Add conditions to HetznerBareMetalHost
  api/v1beta1/conditions_const.go
  api/v1beta1/hetznerbaremetalhost_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalhost_controller_test.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/state_machine.go
Labels: size/M, area/code, area/api

#757 :bug: Update CRDs after update of controller-gen
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediationtemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediationtemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
Labels: area/api, size/S

#758 :bug: Update metadata for e2e tests and CAPI 1.4
  test/e2e/data/shared/v1beta1/metadata.yaml
Labels: area/test, size/XS

#756 :seedling: Update code of pkg network
  pkg/services/hcloud/network/network.go
  pkg/services/hcloud/network/network_test.go
Labels: size/M, area/code

#754 :seedling: Improve error handling for locked servers
  controllers/hcloudmachine_controller.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznercluster_controller.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/server/server.go
Labels: area/code, size/S

#753 :seedling: Update code of placement group pkg
  api/v1beta1/hetznercluster_types.go
  api/v1beta1/hetznercluster_types_test.go
  api/v1beta1/tags.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/controllers_suite_test.go
  controllers/hcloudmachine_controller_test.go
  controllers/hetznercluster_controller_test.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/loadbalancer/loadbalancer_test.go
  pkg/services/hcloud/network/network.go
  pkg/services/hcloud/placementgroup/placementgroup.go
  pkg/services/hcloud/placementgroup/placementgroup_test.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/server/server_test.go
  test/helpers/defaults.go
Labels: size/L, area/test, area/code, area/api

#764 :seedling: Update code of package hcloud/server
  pkg/scope/machine.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/server/server_test.go
Labels: area/code

#767 :seedling: fix `kubectl patch` in delete-workload-cluster
  Makefile
Labels: area/hack, size/XS

#768 :seedling: Update code of pkg csr
  controllers/csr_controller.go
  pkg/csr/csr.go
  pkg/csr/csr_suite_test.go
  pkg/csr/csr_test.go
Labels: size/M, area/code

#773 :seedling: add `make watch`
  Makefile
Labels: area/hack, size/XS

#775 :seedling: Refactor code of bm remediation pkg
  pkg/scope/baremetalremediation.go
  pkg/services/baremetal/remediation/remediation.go
  pkg/services/baremetal/remediation/remediation_test.go
Labels: size/L, area/code

#776 📖 Fixes broken links
  docs/topics/node-image.md
Labels: size/XS

#777 :seedling: Refactor hcloud client
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/hcloud/client/client.go
  pkg/services/hcloud/client/fake/fake_suite_test.go
  pkg/services/hcloud/client/fake/hcloud_client.go
  pkg/services/hcloud/client/fake/hcloud_client_test.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/remediation/remediation.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/server/server_test.go
Labels: size/L, area/code

#779 :book: Added Upgrade Guide.
  docs/README.md
  docs/topics/upgrade.md
Labels: size/M

#794 :bug: Keep finalizer on secrets with multiple clusters
  controllers/hetznercluster_controller.go
  pkg/secrets/secret.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/baremetal/baremetal_test.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: size/L, area/code

#789 :book: updated docs (README)
  README.md
Labels: size/XS
