Repository syself/cluster-api-provider-hetzner, pull requests merged in 2023-11, with the labels that each got.

#1023 :seedling: Add SetControlPlaneEndpoint function
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
Labels: area/code

#1037 🌱 aviod multiple steps of validating renovate config
  .github/workflows/pr-verify.yml
Labels: area/github, size/S

#1038 🌱 bump docker/docker to address security alert
  controllers/hetznercluster_controller.go
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/filters/parse.go
  vendor/github.com/docker/docker/api/types/versions/compare.go
  vendor/modules.txt
Labels: area/code

#1039 🌱 fix lint workflow
  .github/workflows/pr-lint.yml
Labels: area/github

#1043 🌱 Add verify script
  Makefile
  hack/verify-manifests.sh
Labels: area/hack

#1046 🌱 Add make generate-hcloud-token and bump versions
  Makefile
Labels: area/hack

#1045 :seedling: Add event if host is provisioned
  pkg/services/baremetal/host/host.go
Labels: area/code

#1051 :sparkles: Add conditions for rootDeviceHint validation
  api/v1beta1/conditions_const.go
  pkg/services/baremetal/host/host.go
Labels: area/code, area/api

#1052 :seedling: Remove deprecated rate limit condition
  api/v1beta1/conditions_const.go
  controllers/hetznercluster_controller.go
  pkg/services/baremetal/host/host.go
  pkg/services/hcloud/machinetemplate/machinetemplate.go
  pkg/services/hcloud/server/server.go
Labels: area/code, size/XS, area/api

#1053 🌱 bump cluster-api to 1.5.3
  go.mod
  go.sum
  vendor/github.com/coredns/corefile-migration/migration/plugins.go
  vendor/github.com/coredns/corefile-migration/migration/versions.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/conversion.go
  vendor/sigs.k8s.io/cluster-api/api/v1alpha4/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/clusterclass_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/zz_generated.openapi.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/config/cert_manager_client.go
  vendor/sigs.k8s.io/cluster-api/controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  vendor/sigs.k8s.io/cluster-api/internal/controllers/clusterclass/clusterclass_controller.go
  vendor/sigs.k8s.io/cluster-api/internal/controllers/topology/cluster/conditions.go
  vendor/sigs.k8s.io/cluster-api/internal/controllers/topology/cluster/desired_state.go
  vendor/sigs.k8s.io/cluster-api/internal/runtime/client/client.go
  vendor/sigs.k8s.io/cluster-api/internal/topology/names/names.go
  vendor/sigs.k8s.io/cluster-api/internal/topology/variables/cluster_variable_defaulting.go
  vendor/sigs.k8s.io/cluster-api/internal/topology/variables/cluster_variable_validation.go
  vendor/sigs.k8s.io/cluster-api/internal/webhooks/clusterclass.go
  vendor/sigs.k8s.io/cluster-api/util/annotations/helpers.go
  vendor/sigs.k8s.io/cluster-api/util/secret/certificates.go
Labels: size/L

#1057 🌱 remove unused make targets
  .envrc.sample
  Makefile
Labels: area/hack
