Repository syself/cluster-api-provider-hetzner, pull requests merged in 2023-03, with the labels that each got.

#636 :seedling: fix cosign upgrade
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: area/github, size/XS

#640 :seedling: update capi to v1.3.5
  Tiltfile
  docs/developers/tilt.md
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/modules.txt
  hack/tools/vendor/sigs.k8s.io/cluster-api/internal/controllers/topology/cluster/patches/engine.go
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
  vendor/github.com/coredns/corefile-migration/migration/migrate.go
  vendor/github.com/coredns/corefile-migration/migration/versions.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  vendor/sigs.k8s.io/cluster-api/internal/controllers/topology/cluster/patches/engine.go
Labels: size/L, area/hack, area/test

#642 :bug: fixed: install matching golangci version
  Makefile
Labels: area/hack, size/XS

#644 :seedling: disables some automatic updates
  .github/renovate/approval.json5
  .github/renovate/golang.json5
Labels: area/github, size/S

#649 :seedling: fix release workflow
  .github/workflows/release.yml
Labels: area/github, size/XS

#650 :seedling: fix permissions for release workflow
  .github/workflows/release.yml
Labels: area/github, size/XS

#660 :bug: Init host annotation map in remediation controller
  pkg/services/baremetal/remediation/remediation.go
Labels: area/code, size/XS

#663 :seedling: Update code of bm controller
  controllers/hcloudmachinetemplate_controller.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznerbaremetalremediation_controller.go
  pkg/scope/baremetalmachine.go
  pkg/scope/requeue_error.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/baremetal/baremetal_suite_test.go
Labels: size/L, area/code

#670 :seedling: Refactor code of server package
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznerbaremetalmachine_controller_test.go
  controllers/hetznercluster_controller_test.go
  pkg/scope/machine.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/server/server_test.go
Labels: size/L, area/code

#674 :bug: Fix Tilt
  Makefile
  Tiltfile
  docs/topics/production-environment.md
Labels: area/hack, size/XS

#673 :seedling: Make host.MaintenanceMode a pointer
  Makefile
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/hetznerbaremetalmachine_controller_test.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/baremetal/baremetal_test.go
Labels: area/hack, area/code, area/api

#683 :seedling: Move utility functions from host pkg to api
  Makefile
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalhost_types_test.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  api/v1beta1/hetznerbaremetalmachine_types_test.go
  api/v1beta1/hetznerbaremetalmachine_webhook.go
  api/v1beta1/suite_test.go
  controllers/hetznerbaremetalhost_controller.go
  pkg/scope/baremetalhost.go
  pkg/scope/baremetalmachine.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_suite_test.go
  pkg/services/baremetal/host/host_test.go
  pkg/services/baremetal/host/state_machine.go
Labels: area/hack, area/code, area/api, size/XL

#687 🐛 Missing cilium networkd configuration on Ubuntu 22.04
  templates/node-image/1.25.2-ubuntu-22-04-containerd/scripts/cilium-requirements.sh
Labels: area/templates, size/XS

#700 🐛 fix: talos md
  templates/cluster-templates/hcloud-talos-packer/kustomization.yaml
Labels: area/templates, size/XS

#708 :seedling: Upgrade Go to 1.20.2
  .github/renovate/golang.json5
  .golangci.yaml
  go.mod
  hack/tools/go.mod
  images/caph/Dockerfile
Labels: area/github, area/hack, size/XS

#707 :seedling: Use errors in host package
  controllers/hetznerbaremetalhost_controller.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_suite_test.go
  pkg/services/baremetal/host/host_test.go
  pkg/services/baremetal/host/state_machine.go
  pkg/services/baremetal/remediation/remediation.go
  pkg/services/hcloud/server/server.go
Labels: size/M, area/code

#712 :seedling: Fix error handling of nil errors in controllers
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudremediation_controller.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznerbaremetalremediation_controller.go
  controllers/utils.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/baremetal/baremetal_test.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/remediation/remediation.go
  pkg/services/hcloud/machinetemplate/machinetemplate.go
  pkg/services/hcloud/remediation/remediation.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/server/server_test.go
Labels: size/L, area/code

#713 :seedling: Update timeouts for E2E tests
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
Labels: area/test, size/S

#717 :sparkles: Enable concurrent reconciles
  controllers/hcloudmachinetemplate_controller.go
  main.go
Labels: area/code, size/S

#719 :sparkles: Notify user when robot ssh key already exists
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_test.go
Labels: area/code, size/S

#725 :seedling: fix update-bot builder image
  .github/renovate/groups.json5
Labels: area/github, size/XS
