Repository syself/cluster-api-provider-hetzner, pull requests merged in 2024-04, with the labels that each got.

#1243 🌱 remove scheduled link checking workflow
  .github/workflows/schedule-link-checker.yml
Labels: area/github

#1241 📖 update dev docs for caph
  Makefile
  Tiltfile
  docs/developers/development.md
  docs/developers/tilt.md
  docs/pics/robot_user.png
  docs/topics/preparation.md
Labels: area/hack

#1244 🌱 fix links failures and enable link checking in docs directory
  .github/workflows/pr-lint.yml
  docs/developers/development.md
  docs/topics/preparation.md
Labels: area/github

#1242 🌱 log name of server and lb
  pkg/services/hcloud/remediation/remediation.go
  pkg/services/hcloud/server/server.go
Labels: area/code

#1170 🌱 Update types.go
  api/v1beta1/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
Labels: size/L, area/api

#1221 🌱 bump to controller-gen 0.14.0 and check diff in CI
  .github/workflows/pr-lint.yml
  Makefile
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediationtemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediationtemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
Labels: area/github, area/hack, area/api

#1249 🌱 fix lint workflow
  .github/workflows/pr-lint.yml
Labels: area/github

#1247 🌱 Added for import aliases for kubernetes packages
  .github/workflows/pr-lint.yml
  .golangci.yaml
  api/v1beta1/hcloudmachine_types.go
  pkg/services/baremetal/remediation/remediation.go
  pkg/services/hcloud/remediation/remediation.go
Labels: area/github, area/code, size/XS, area/api

#1267 🌱 run tests on draft PRs
  .github/workflows/test.yml
Labels: area/github

#1264 :seedling: machinedeployment with RAID, reject host if not enough WWNs.
  api/v1beta1/hetznerbaremetalhost_types.go
  controllers/hcloudmachine_controller.go
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznerbaremetalremediation_controller_test.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_test.go
Labels: size/L, area/code, area/api

#1278 🌱Fix whitespace at end of storage vendor
  pkg/services/baremetal/host/host.go
Labels: area/code
