Repository syself/cluster-api-provider-hetzner, pull requests merged in 2024-06, with the labels that each got.

#1330 :seedling: Add new CX server types
  api/v1beta1/hcloudmachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachinetemplates.yaml
Labels: size/XS, area/api

#1337 🌱 update to cluster API 1.7.3
  Makefile
  Tiltfile
  docs/developers/tilt.md
  go.mod
  go.sum
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/cluster_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/zz_generated.openapi.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/config/cert_manager_client.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/repository/repository_github.go
  vendor/sigs.k8s.io/cluster-api/internal/controllers/topology/cluster/patches/engine.go
  vendor/sigs.k8s.io/cluster-api/internal/controllers/topology/cluster/patches/variables/variables.go
  vendor/sigs.k8s.io/cluster-api/internal/topology/variables/cluster_variable_validation.go
  vendor/sigs.k8s.io/cluster-api/internal/webhooks/cluster.go
  vendor/sigs.k8s.io/cluster-api/internal/webhooks/clusterclass.go
  vendor/sigs.k8s.io/cluster-api/test/e2e/clusterctl_upgrade.go
  vendor/sigs.k8s.io/cluster-api/test/framework/bootstrap/kind_provider.go
  vendor/sigs.k8s.io/cluster-api/test/framework/bootstrap/kind_util.go
  vendor/sigs.k8s.io/cluster-api/test/framework/clusterctl/client.go
  vendor/sigs.k8s.io/cluster-api/test/framework/clusterctl/e2e_config.go
  vendor/sigs.k8s.io/cluster-api/test/framework/exec/kubectl.go
  vendor/sigs.k8s.io/cluster-api/test/framework/resourceversion_helpers.go
  vendor/sigs.k8s.io/cluster-api/test/infrastructure/kind/mapper.go
Labels: size/L, area/hack, area/test

#1284 🌱Add condition indicating deletion timestamp is set
  api/v1beta1/conditions_const.go
  pkg/services/baremetal/host/host.go
Labels: area/code, size/XS, area/api

#1347 :seedling: Do not update hetznerCluster.Spec.SSHKeys.HCloud
  controllers/hetznercluster_controller.go
Labels: area/code

#1346 :seedling: Avoid misleading error logs when deleting hbmh
  controllers/hetznerbaremetalhost_controller.go
Labels: area/code

#1327 :bug: Improve handling of bm server reboot timeouts
  api/v1beta1/conditions_const.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_test.go
Labels: size/M, area/code, area/api

#1353 :seedling: Stop calling API when HCloudMachineTemplate status is set
  pkg/services/hcloud/machinetemplate/machinetemplate.go
Labels: area/code

#1354 :seedling: add link to readme
  README.md
Labels: size/XS

#1357 :seedling: CSR uses INFO level if providerID was not set yet.
  controllers/csr_controller.go
  test/e2e/log_collector.go
Labels: area/test, area/code

#1359 :seedling: Reduce reconcilements
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachine_controller_test.go
  controllers/hetznercluster_controller.go
  pkg/services/hcloud/server/server.go
Labels: size/L, area/code

#1364 :seedling: replacing docs url
  CONTRIBUTING.md
  README.md
Labels: size/S

#1367 📖 Improve documentation
  docs/caph/01-getting-started/02-quickstart.md
  docs/caph/01-getting-started/03-preparation.md
Labels: size/XS

#1370 :seedling: remove repeated document
  docs/caph/01-getting-started/02-quickstart.md
Labels: size/L
