Repository syself/cluster-api-provider-hetzner, pull requests merged in 2024-07, with the labels that each got.

#1378 :bug: Fixes trigger for linter
  .github/workflows/pr-lint.yml
Labels: area/github, size/XS

#1373 🌱Add tests for reduce reconcilement predicate methods (PR 1359)
  controllers/hcloudmachine_controller_test.go
  controllers/hetznercluster_controller_test.go
Labels: area/code

#1319 🌱Add checks in ValidCreate and ValidUpdate in hbmmt webhook
  api/v1beta1/hcloudmachine_validation.go
  api/v1beta1/hcloudmachine_validation_test.go
  api/v1beta1/hcloudmachine_webhook.go
  api/v1beta1/hcloudmachinetemplate_webhook.go
  api/v1beta1/hetznerbaremetalmachine_validation.go
  api/v1beta1/hetznerbaremetalmachine_validation_test.go
  api/v1beta1/hetznerbaremetalmachine_webhook.go
  api/v1beta1/hetznerbaremetalmachinetemplate_webhook.go
  controllers/controllers_suite_test.go
  controllers/hcloudmachine_controller_test.go
  controllers/hcloudmachinetemplate_controller_test.go
  controllers/hetznerbaremetalmachine_controller_test.go
Labels: area/test, area/code, area/api, size/XL

#1390 🐛Fix loadbalancer deleting bug
  pkg/services/hcloud/loadbalancer/loadbalancer.go
Labels: area/code, size/XS

#1391 :bug: Increase timeout on connection refused errors
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_test.go
Labels: area/code, size/S

#1384 🌱 update to cluster API v1.7.4
  Makefile
  Tiltfile
  docs/caph/04-developers/02-tilt.md
  go.mod
  go.sum
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/clusterclass_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machinedeployment_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machinehealthcheck_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/zz_generated.openapi.go
  vendor/sigs.k8s.io/cluster-api/bootstrap/kubeadm/api/v1beta1/kubeadm_types.go
  vendor/sigs.k8s.io/cluster-api/bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  vendor/sigs.k8s.io/cluster-api/bootstrap/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/config/cert_manager_client.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/config/providers_client.go
  vendor/sigs.k8s.io/cluster-api/exp/runtime/hooks/api/v1alpha1/topologymutation_variable_types.go
  vendor/sigs.k8s.io/cluster-api/exp/runtime/hooks/api/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  vendor/sigs.k8s.io/cluster-api/internal/controllers/topology/cluster/patches/variables/variables.go
  vendor/sigs.k8s.io/cluster-api/internal/controllers/topology/machineset/machineset_controller.go
  vendor/sigs.k8s.io/cluster-api/internal/webhooks/machinedeployment.go
  vendor/sigs.k8s.io/cluster-api/internal/webhooks/patch_validation.go
  vendor/sigs.k8s.io/cluster-api/test/e2e/clusterclass_rollout.go
  vendor/sigs.k8s.io/cluster-api/test/framework/finalizers_helpers.go
  vendor/sigs.k8s.io/cluster-api/test/framework/ownerreference_helpers.go
  vendor/sigs.k8s.io/cluster-api/test/framework/resourceversion_helpers.go
  vendor/sigs.k8s.io/cluster-api/util/patch/patch.go
  vendor/sigs.k8s.io/cluster-api/util/patch/utils.go
Labels: area/hack, area/test

#1393 :seedling: Remove HetznerBareMetalMachineTemplate create webhook
  api/v1beta1/hetznerbaremetalmachinetemplate_webhook.go
  controllers/hetznerbaremetalmachine_controller_test.go
Labels: area/code, area/api, size/S

#1395 :bug: Remove false duplicate validation in webhooks
  api/v1beta1/hcloudmachinetemplate_webhook.go
  api/v1beta1/hetznerbaremetalmachinetemplate_webhook.go
  controllers/hcloudmachinetemplate_controller_test.go
  controllers/hetznerbaremetalmachine_controller_test.go
Labels: area/code, size/XS, area/api

#1396 :seedling: Remove permanent error after bm reboot
  pkg/services/baremetal/host/host.go
Labels: area/code, size/XS

#1404 :seedling: Adding contact information
  .github/ISSUE_TEMPLATE/config.yaml
Labels: area/github, size/XS

#1405 :seedling: use SSH_KEY_NAME instead of hard-coded "test"
  .envrc.sample
  Makefile
  docs/caph/01-getting-started/02-quickstart/02-management-cluster-setup.md
  docs/caph/01-getting-started/03-preparation.md
  docs/caph/02-topics/01-preparation.md
  docs/caph/02-topics/06-baremetal/02-management-cluster.md
  hack/ci-e2e-capi.sh
  templates/cluster-templates/bases/hcloud-hetznerCluster-network.yaml
  templates/cluster-templates/bases/hcloud-hetznerCluster.yaml
  templates/cluster-templates/bases/hetzner-hetznerCluster.yaml
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
Labels: area/hack, area/templates, area/test

#1410 :seedling: disable bm-2 (1716772) since broken. And rename hosts.
  test/e2e/data/infrastructure-hetzner/v1beta1/bases/hetznerbaremetalhosts-raid.yaml
  test/e2e/data/infrastructure-hetzner/v1beta1/bases/hetznerbaremetalhosts.yaml
Labels: area/test
