Repository syself/cluster-api-provider-hetzner, pull requests merged in 2024-08, with the labels that each got.

#1412 :seedling: re-enable bm server bm-2 (1716772)
  test/e2e/data/infrastructure-hetzner/v1beta1/bases/hetznerbaremetalhosts.yaml
Labels: area/test

#1411 🌱 Change order and add new article
  README.md
Labels: size/XS

#1406 :seedling: fix readme links
  docs/README.md
  docs/caph/01-getting-started/02-quickstart/02-management-cluster-setup.md
  docs/caph/01-getting-started/03-preparation.md
  docs/caph/02-topics/01-preparation.md
  docs/caph/02-topics/06-baremetal/01-introduction.md
  docs/caph/02-topics/07-advanced/04-custom-templates-mhc.md
  docs/caph/03-reference/02-hetzner-cluster.md
  docs/caph/03-reference/03-hcloud-machine-template.md
  docs/caph/03-reference/07-hetzner-bare-metal-remediation-template.md
  docs/caph/04-developers/01-development-guide.md
  docs/caph/04-developers/04-updating-kubernetes-version.md
Labels: size/M

#1417 :seedling: remove duplicated page
  docs/README.md
  docs/caph/01-getting-started/02-quickstart/02-management-cluster-setup.md
  docs/caph/01-getting-started/03-preparation.md
  docs/caph/02-topics/01-managing-ssh-keys.md
  docs/caph/02-topics/01-preparation.md
  docs/caph/02-topics/02-HA-setup.md
  docs/caph/02-topics/03-node-image.md
  docs/caph/02-topics/04-upgrading-caph.md
  docs/caph/02-topics/05-baremetal/01-introduction.md
  docs/caph/02-topics/05-baremetal/02-management-cluster.md
  docs/caph/02-topics/05-baremetal/03-creating-workload-cluster.md
  docs/caph/02-topics/05-baremetal/04-constant-hostnames.md
  docs/caph/02-topics/06-advanced/01-csr-controller.md
  docs/caph/02-topics/06-advanced/02-rate-limits.md
  docs/caph/02-topics/06-advanced/03-multi-tenancy.md
  docs/caph/02-topics/06-advanced/04-custom-templates-mhc.md
  docs/caph/03-reference/02-hetzner-cluster.md
  docs/caph/03-reference/03-hcloud-machine-template.md
  docs/caph/03-reference/07-hetzner-bare-metal-remediation-template.md
  docs/caph/04-developers/01-development-guide.md
Labels: size/M

#1420 :seedling: Add Singapore location and ap-southeast Network Zone
  api/v1beta1/hetznercluster_webhook.go
  api/v1beta1/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
Labels: size/XS, area/api

#1421 :bug: Fix Lychee Link Checker
  .lychee.toml
  Makefile
Labels: area/hack

#1422 e2e host has a new disk, adapting WWN
  test/e2e/data/infrastructure-hetzner/v1beta1/bases/hetznerbaremetalhosts.yaml
Labels: area/test

#1425 :seedling: Disable "bm-e2e-1716772" since rescue system not reachable.
  test/e2e/data/infrastructure-hetzner/v1beta1/bases/hetznerbaremetalhosts.yaml
Labels: area/test

#1419 :seedling: Avoid an Event GetCloudInitOutputFailed. Wait until machine is reachable.
  pkg/services/baremetal/host/host.go
Labels: size/M, area/code

#1416 :seedling: Call install-image asynchronously (bare-metal)
  controllers/hcloudmachine_controller_test.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalhost_controller_test.go
  pkg/services/baremetal/client/mocks/ssh/Client.go
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/utils.go
  pkg/services/baremetal/host/utils_test.go
Labels: size/L, area/code

#1426 :seedling: enable bm-e2e-1716772
  test/e2e/data/infrastructure-hetzner/v1beta1/bases/hetznerbaremetalhosts.yaml
Labels: area/test

#1415 🌱 Update quickstart guide with upstream ccm
  docs/caph/01-getting-started/02-quickstart/03-creating-a-workload-cluster.md
Labels: size/XS

#1423 :seedling: Make link checker lychee show unknown http status codes
  Makefile
Labels: area/hack

#1427 :seedling: Set PermanentErrorAnnotation, if removed by user, then remove the error state.
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalhost_types_test.go
  api/v1beta1/hetznerbaremetalremediation_types.go
  controllers/csr_controller.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalhost_controller_test.go
  pkg/services/baremetal/host/host.go
Labels: size/M, area/code, area/api

#1424 :seedling: Use GITHUB_RUN_ID for the specName of e2e tests.
  test/e2e/caph.go
Labels: area/test

#1429 :seedling: WipeDisk annotation
  api/v1beta1/conditions_const.go
  api/v1beta1/hetznerbaremetalhost_types.go
  controllers/hcloudmachine_controller_test.go
  pkg/services/baremetal/client/mocks/ssh/Client.go
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/baremetal/client/ssh/wipe-disk.sh
  pkg/services/baremetal/host/host.go
Labels: size/L, area/code, area/api

#1428 :seedling: Always create a Condition, if createServer failed (hcloud)
  api/v1beta1/conditions_const.go
  controllers/hetznerbaremetalremediation_controller_test.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/util/utils.go
Labels: area/code, area/api

#1413 🌱Add check to disallow hcloud servers without ssh key
  pkg/services/hcloud/server/server.go
Labels: area/code

#1431 :seedling: add missing banner
  README.md
Labels: size/XS

#1436 :seedling: Upgrade to capi 1.7.5
  Makefile
  Tiltfile
  docs/caph/04-developers/02-tilt.md
  go.mod
  go.sum
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/cluster_phase_types.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/config/cert_manager_client.go
  vendor/sigs.k8s.io/cluster-api/controllers/remote/cluster_cache_tracker.go
  vendor/sigs.k8s.io/cluster-api/test/e2e/clusterctl_upgrade.go
  vendor/sigs.k8s.io/cluster-api/test/e2e/self_hosted.go
  vendor/sigs.k8s.io/cluster-api/test/framework/autoscaler_helpers.go
  vendor/sigs.k8s.io/cluster-api/test/framework/deployment_helpers.go
  vendor/sigs.k8s.io/cluster-api/test/framework/resourceversion_helpers.go
Labels: area/hack, area/test

#1438 :seedling: Upgrade to Go 1.22
  .builder-image-version.txt
  .github/renovate/golang.json5
  .github/workflows/main-promote-builder-image.yml
  .github/workflows/pr-lint.yml
  .github/workflows/schedule-scan-image.yml
  .golangci-suggestions.yaml
  .golangci.yaml
  go.mod
  hack/golang-modules-update.sh
  images/builder/Dockerfile
  images/caph/Dockerfile
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/assets/topology-test/existing-my-cluster.yaml
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/assets/topology-test/existing-my-second-cluster.yaml
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/assets/topology-test/mock-CRDs.yaml
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/assets/topology-test/modified-CP-dockermachinetemplate.yaml
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/assets/topology-test/modified-my-cluster.yaml
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/assets/topology-test/my-cluster-class.yaml
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/assets/topology-test/new-clusterclass-and-cluster.yaml
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/assets/topology-test/objects-in-different-namespaces.yaml
Labels: size/L, area/github, area/hack

#1443 :seedling: remove old kubernetes versions
  README.md
Labels: size/XS

#1445 🌱Add tests for PR 1413
  controllers/hcloudmachine_controller_test.go
Labels: area/code

#1446 :seedling: Better usage message for detect-linux-on-another-disk.sh
  pkg/services/baremetal/client/ssh/detect-linux-on-another-disk.sh
Labels: area/code

#1449 :seedling: removed not needed log-line
  controllers/csr_controller.go
Labels: area/code

#1440 :seedling: Update to Syself hetzner-installimage-v1.0.6
  Makefile
  Tiltfile
  data/hetzner-installimage-v1.0.5.tgz
  data/hetzner-installimage-v1.0.6.tgz
  images/caph/Dockerfile
Labels: area/hack, size/XS

#1452 :seedling: Better logging, to find root cause of flaky test.
  controllers/hcloudmachine_controller_test.go
Labels: area/code

#1455 :seedling: Update names of finalizers.
  api/v1beta1/hcloudmachine_types.go
  api/v1beta1/hcloudremediation_types.go
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  api/v1beta1/hetznerbaremetalremediation_types.go
  api/v1beta1/hetznercluster_types.go
  controllers/hcloudmachine_controller.go
  controllers/hcloudmachinetemplate_controller.go
  controllers/hcloudremediation_controller_test.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznerbaremetalmachine_controller.go
  controllers/hetznerbaremetalmachine_controller_test.go
  controllers/hetznerbaremetalremediation_controller_test.go
  controllers/hetznercluster_controller.go
  pkg/secrets/secret.go
  pkg/services/baremetal/host/host.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: size/M, area/code, area/api

#1387 🌱Add handleRateLimit method
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/server/server_test.go
Labels: size/M, area/code

#1458 :seedling: rename and document annotations.
  api/v1beta1/hcloudremediation_types.go
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalhost_types_test.go
  api/v1beta1/hetznerbaremetalremediation_types.go
  api/v1beta1/hetznercluster_webhook.go
  controllers/hetznerbaremetalremediation_controller_test.go
  docs/README.md
  docs/caph/03-reference/08-annotations.md
Labels: size/M, area/code, area/api

#1459 :seedling: fix flaky unit-tests
  controllers/controllers_suite_test.go
  controllers/hcloudmachine_controller_test.go
  controllers/hcloudremediation_controller_test.go
  controllers/hetznerbaremetalremediation_controller_test.go
  controllers/hetznercluster_controller_test.go
  pkg/services/hcloud/client/client.go
  pkg/services/hcloud/client/fake/hcloud_client.go
  pkg/services/hcloud/client/fake/hcloud_client_test.go
  pkg/services/hcloud/client/mocks/Client.go
  test/helpers/envtest.go
Labels: size/M, area/test, area/code

#1466 :seedling: Fix flaky tests 2
  controllers/controllers_suite_test.go
  controllers/hcloudmachine_controller_test.go
  controllers/hcloudmachinetemplate_controller_test.go
  controllers/hcloudremediation_controller_test.go
  controllers/hetznercluster_controller_test.go
  pkg/services/hcloud/client/client.go
  pkg/services/hcloud/client/fake/hcloud_client.go
  pkg/services/hcloud/client/fake/hcloud_client_test.go
  pkg/services/hcloud/client/mocks/Client.go
  test/helpers/envtest.go
Labels: size/M, area/test, area/code

#1467 :seedling: Lint PRs in Draft-mode, too.
  .github/workflows/pr-lint.yml
  .github/workflows/pr-verify.yml
Labels: area/github
