Repository syself/cluster-api-provider-hetzner, pull requests merged in 2024-02, with the labels that each got.

#1129 :book: Update quickstart.md
  docs/topics/quickstart.md
Labels: size/XS

#1135 🐛 Create .tiltbuild directory in tilt-up
  Makefile
Labels: area/hack, size/XS

#1130 :bug: Fix wrong names of storage devices
  pkg/services/baremetal/host/host.go
Labels: area/code, size/XS

#1137 :seedling: Add back fixed baremetal hosts
  test/e2e/data/infrastructure-hetzner/v1beta1/bases/hetznerbaremetalhosts.yaml
Labels: area/test

#1106 :seedling: support externally managed control planes
  api/v1beta1/conditions_const.go
  api/v1beta1/hetznercluster_types.go
  api/v1beta1/hetznercluster_webhook.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
Labels: area/code, area/api

#1144 :seedling: update python shebang to python3
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate_test.py
  hack/boilerplate/testdata/default/fail.py
  hack/boilerplate/testdata/default/pass.py
  hack/boilerplate/testdata/with_config/fail.py
  hack/boilerplate/testdata/with_config/pass.py
  hack/filter-caph-controller-manager-logs.py
Labels: area/hack

#1145 🐛 Remove server from load balancer after node is drained
  pkg/services/hcloud/server/server.go
Labels: area/code

#1154 🐛 Fix server deletion
  pkg/services/hcloud/server/server.go
Labels: area/code

#1150 :bug: Add servers to LB only after API server ready
  pkg/services/hcloud/server/server.go
Labels: size/M, area/code

#1158 :book: Update hetzner-bare-metal-host.md
  docs/reference/hetzner-bare-metal-host.md
Labels: size/XS

#1159 :book: Update development.md
  docs/developers/development.md
Labels: size/S

#1160 :book: Update hetzner-bare-metal-machine-template.md with minor fixes
  docs/reference/hetzner-bare-metal-machine-template.md
Labels: size/XS

#1167 :seedling: migrate to create-github-app-token
  .github/workflows/pr-verify.yml
  .github/workflows/schedule-link-checker.yml
  .github/workflows/schedule-update-bot.yaml
Labels: area/github

#1171 🌱 Update hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalhost_types.go
Labels: size/XS, area/api

#1183 :seedling: update dependencies to address cloudflare/circl vuln
  api/v1beta1/hetznerbaremetalhost_types.go
  go.mod
  go.sum
  vendor/github.com/cloudflare/circl/ecc/goldilocks/twist.go
  vendor/github.com/cloudflare/circl/internal/sha3/keccakf.go
  vendor/github.com/cloudflare/circl/internal/sha3/sha3.go
  vendor/github.com/cloudflare/circl/internal/sha3/shake.go
  vendor/github.com/cloudflare/circl/math/primes.go
  vendor/github.com/cloudflare/circl/sign/ed25519/ed25519.go
  vendor/modules.txt
Labels: size/M, area/api

#1169 🌱 Update hcloudmachine_types.go
  api/v1beta1/hcloudmachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
Labels: size/M, area/api

#1117 🌱 attest sbom to release image
  .github/workflows/release.yml
Labels: area/github, size/XS
