Repository syself/cluster-api-provider-hetzner, pull requests merged in 2024-05, with the labels that each got.

#1285 :sparkles: Add constant hostnames to bare metal servers
  api/v1beta1/hetznercluster_types.go
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznerbaremetalhost_controller_test.go
  controllers/hetznerbaremetalmachine_controller_test.go
  controllers/hetznerbaremetalremediation_controller_test.go
  docs/topics/hetzner-baremetal.md
  pkg/scope/baremetalhost.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_suite_test.go
Labels: area/code, area/api

#1290 :seedling: Better error message if CSR could not find machine.
  controllers/csr_controller.go
Labels: area/code

#1294 🌱 avoid redacting logs when running e2e tests
  test/e2e/caph.go
  test/e2e/common.go
Labels: area/test, size/XS

#1295 :bug: Fix CSR for ConstantBareMetalHostname
  controllers/csr_controller.go
  controllers/hetznercluster_controller.go
Labels: size/M, area/code

#1289 :sparkles: Add ssh key name via hetzner secret
  api/v1beta1/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
  controllers/hetznercluster_controller.go
Labels: area/code, area/api

#1255 🌱 update shortnames for caph objects
  api/v1beta1/hcloudmachine_types.go
  api/v1beta1/hcloudremediation_types.go
  api/v1beta1/hcloudremediationtemplate_types.go
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  api/v1beta1/hetznerbaremetalmachinetemplate_types.go
  api/v1beta1/hetznerbaremetalremediation_types.go
  api/v1beta1/hetznerbaremetalremediationtemplate_types.go
  api/v1beta1/hetznercluster_types.go
  api/v1beta1/hetznerclustertemplate_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediationtemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediationtemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
Labels: area/api

#1220 :seedling: handle case where rescue system can't be reached.
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalhost_types_test.go
  hack/filter-caph-controller-manager-logs.py
  pkg/services/baremetal/host/host.go
Labels: area/hack, size/M, area/code, area/api

#1287 🐛Fix flaky reach state image installing test
  controllers/hetznerbaremetalhost_controller_test.go
Labels: area/code

#1303 :seedling: Don't provision on devices containing a physical volume.
  pkg/services/baremetal/client/ssh/detect-linux-on-another-disk.sh
Labels: area/code

#1302 :seedling: Detect raid spanning root-device and non-root-device.
  hack/ci-e2e-get-token.sh
  pkg/services/baremetal/client/ssh/detect-linux-on-another-disk.sh
Labels: area/hack, size/M, area/code

#1310 :seedling: remove tilt-settings.json from comments.
  .gitignore
  Makefile
Labels: area/hack

#1311 🌱 update to CAPI 1.7.2
  Makefile
  Tiltfile
  docs/developers/tilt.md
  go.mod
  go.sum
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/cert_manager.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/cluster/ownergraph.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/config/cert_manager_client.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/config/providers_client.go
  vendor/sigs.k8s.io/cluster-api/cmd/clusterctl/client/repository/components.go
  vendor/sigs.k8s.io/cluster-api/test/e2e/cluster_upgrade_runtimesdk.go
  vendor/sigs.k8s.io/cluster-api/test/framework/clusterctl/ca_injection.go
  vendor/sigs.k8s.io/cluster-api/test/framework/clusterctl/clusterctl_helpers.go
  vendor/sigs.k8s.io/cluster-api/test/framework/convenience.go
  vendor/sigs.k8s.io/cluster-api/test/framework/finalizers_helpers.go
  vendor/sigs.k8s.io/cluster-api/test/framework/ownerreference_helpers.go
  vendor/sigs.k8s.io/cluster-api/test/framework/resourceversion_helpers.go
Labels: size/L, area/hack, area/test

#1316 🌱 change SSHKey default name to hcloud-ssh-key-name
  api/v1beta1/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
Labels: area/api

#1318 :seedling: Create more detailed events about rebooting BM.
  api/v1beta1/hetznerbaremetalhost_types.go
  go.mod
  pkg/services/baremetal/host/host.go
Labels: area/code, area/api

#1317 :sparkles: Add ssh keys to status and fix ssh key in secret
  api/v1beta1/hcloudmachine_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  pkg/services/hcloud/server/server.go
Labels: size/M, area/code, area/api

#1314 :seedling: Allow constant hostname annotation on machines
  controllers/hetznerbaremetalhost_controller.go
  docs/topics/hetzner-baremetal.md
  pkg/scope/baremetalhost.go
Labels: size/M, area/code

#1326 :seedling: improve the readme
  README.md
  docs/pics/caph.png
Labels: size/L
