Repository syself/cluster-api-provider-hetzner, pull requests merged in 2024-03, with the labels that each got.

#1162 :seedling: Skip machines with one WWN, if RAID is desired.
  controllers/hetznerbaremetalhost_controller_test.go
  go.mod
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/baremetal/baremetal_test.go
Labels: size/L, area/code

#1190 :seedling: Always create UEFI partition
  templates/cluster-templates/bases/hetznerbaremetal-mt-control-plane-ubuntu.yaml
  templates/cluster-templates/bases/hetznerbaremetal-mt-md-1-ubuntu.yaml
  templates/cluster-templates/cluster-class.yaml
Labels: area/templates, area/code, size/XS

#1114 🐛 fix ginkgo version mismatch
  test/e2e/Makefile
Labels: area/test, size/XS

#1197 :seedling: Choose HetznerBareMetalHosts with RootDeviceHints set over…
  pkg/services/baremetal/baremetal/baremetal.go
Labels: area/code

#1164 :bug: Script to detect invalid WWN/RAID configuration of hbmh.
  api/v1beta1/conditions_const.go
  controllers/hetznerbaremetalhost_controller_test.go
  hack/filter-caph-controller-manager-logs.py
  pkg/services/baremetal/client/mocks/ssh/Client.go
  pkg/services/baremetal/client/ssh/detect-linux-on-another-disk.sh
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/baremetal/client/ssh/ssh_client_test.go
  pkg/services/baremetal/host/host.go
Labels: area/hack, size/M, area/test, area/code, area/api

#1196 :seedling: Several small changes to make debugging bare-metal provisioning easier
  api/v1beta1/hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  api/v1beta1/hetznerbaremetalmachine_types_test.go
  controllers/hetznerbaremetalhost_controller.go
  hack/filter-caph-controller-manager-logs.py
  pkg/services/baremetal/client/ssh/detect-linux-on-another-disk.sh
  pkg/services/baremetal/host/host.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Labels: area/hack, size/XXL, area/code, area/api

#1205 :seedling: Fix getting NIC info if more than one card was found.
  pkg/services/baremetal/client/ssh/ssh_client.go
Labels: area/code

#1201 :seedling: use ubuntu-22.04
  Tiltfile
  api/v1beta1/hetznerbaremetalmachine_types_test.go
  controllers/hetznerbaremetalhost_controller_test.go
  pkg/services/baremetal/client/mocks/ssh/Client.go
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/host_test.go
  pkg/services/hcloud/server/server_suite_test.go
  templates/cluster-templates/bases/hcloud-kcp-fedora.yaml
  templates/cluster-templates/bases/hcloud-kcp-ubuntu.yaml
  templates/cluster-templates/bases/hetznerbaremetal-kcp-ubuntu.yaml
  templates/cluster-templates/bases/hetznerbaremetal-mt-control-plane-ubuntu.yaml
  templates/cluster-templates/bases/hetznerbaremetal-mt-md-1-ubuntu.yaml
  templates/cluster-templates/bases/kct-md-0-fedora.yaml
  templates/cluster-templates/bases/kct-md-0-ubuntu.yaml
  templates/cluster-templates/cluster-class.yaml
  templates/node-image/1.27.8-ubuntu-22-04-containerd/scripts/kubernetes.sh
  templates/node-image/1.28.4-ubuntu-22-04-containerd/scripts/kubernetes.sh
Labels: size/L, area/templates, area/code, area/api

#1215 :seedling: detect efi partitions in detect-linux-on-another-disk.sh
  pkg/services/baremetal/client/ssh/detect-linux-on-another-disk.sh
Labels: area/code, size/XS

#1212 :seedling: improve event of GetHardwareDetailsDebug
  pkg/services/baremetal/host/host.go
Labels: area/code, size/XS

#1179 🌱 Update hetznercluster_types.go
  api/v1beta1/hetznercluster_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
Labels: area/api, size/S

#1177 🌱 Update hetznerbaremetalremediation_types.go
  api/v1beta1/hetznerbaremetalremediation_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediationtemplates.yaml
Labels: size/XS, area/api

#1226 :sparkles: Keep secret in workload cluster in sync
  controllers/hetznercluster_controller.go
Labels: size/M, area/code

#1172 🌱 Update hetznerbaremetalhost_types.go
  api/v1beta1/hetznerbaremetalhost_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
Labels: size/M, area/api

#1178 🌱 Update remediation_types.go
  api/v1beta1/remediation_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediationtemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediationtemplates.yaml
Labels: size/M, area/api

#1175 🌱 Update hetznerbaremetalmachine_types.go
  api/v1beta1/hetznerbaremetalmachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
Labels: size/L, area/api
