Repository syself/cluster-api-provider-hetzner, pull requests merged in 2024-01, with the labels that each got.

#1108 🌱 fix e2e baremetal tests
  test/e2e/basic_baremetal_test.go
  test/e2e/config/hetzner-ci.yaml
  test/e2e/config/hetzner.yaml
  test/e2e/data/infrastructure-hetzner/v1beta1/bases/hetznerbaremetalhosts.yaml
Labels: area/test

#1110 :seedling: Create Condition if DownloadImage failed.
  api/v1beta1/conditions_const.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/state_machine.go
Labels: area/code, size/XS, area/api

#1111 :seedling: Get BM machine image via oci token
  .lychee.toml
  docs/reference/hetzner-bare-metal-machine-template.md
  pkg/services/baremetal/client/ssh/ssh_client.go
Labels: area/code, size/S

#1128 🌱 Update README.md
  README.md
Labels: size/XS

#1116 🌱 attest sbom for caph staging image
  .github/workflows/build.yml
Labels: area/github, size/S

#1127 🌱 Update quickstart.md
  docs/topics/quickstart.md
Labels: documentation, size/S
