Repository syself/cluster-api-provider-hetzner, pull requests merged in 2024-11, with the labels that each got.

#1503 🌱 fix linting
  README.md
  controllers/hetznerbaremetalhost_controller.go
  controllers/hetznercluster_controller.go
  controllers/hetznercluster_controller_test.go
  pkg/scope/cluster.go
  pkg/services/baremetal/baremetal/baremetal.go
  pkg/services/baremetal/host/host.go
  pkg/services/baremetal/host/state_machine.go
  pkg/services/hcloud/loadbalancer/loadbalancer.go
  pkg/services/hcloud/network/network.go
  pkg/services/hcloud/placementgroup/placementgroup.go
  pkg/services/hcloud/server/server.go
  pkg/services/hcloud/util/utils.go
Labels: size/M, area/code

#1505 :seedling: More logging in check-disk.sh
  pkg/services/baremetal/client/ssh/check-disk.sh
  pkg/services/baremetal/client/ssh/ssh_client.go
Labels: area/code, size/XS

#1498 :seedling: add meta titles & descriptions
  docs/caph/01-getting-started/01-introduction.md
  docs/caph/01-getting-started/02-quickstart/01-prerequisites.md
  docs/caph/01-getting-started/02-quickstart/02-management-cluster-setup.md
  docs/caph/01-getting-started/02-quickstart/03-creating-a-workload-cluster.md
  docs/caph/01-getting-started/02-quickstart/04-next-steps.md
  docs/caph/01-getting-started/03-preparation.md
  docs/caph/02-topics/01-managing-ssh-keys.md
  docs/caph/02-topics/02-HA-setup.md
  docs/caph/02-topics/03-node-image.md
  docs/caph/02-topics/04-upgrading-caph.md
  docs/caph/02-topics/05-baremetal/01-introduction.md
  docs/caph/02-topics/05-baremetal/02-management-cluster.md
  docs/caph/02-topics/05-baremetal/03-creating-workload-cluster.md
  docs/caph/02-topics/05-baremetal/04-constant-hostnames.md
  docs/caph/02-topics/06-advanced/01-csr-controller.md
  docs/caph/02-topics/06-advanced/02-rate-limits.md
  docs/caph/02-topics/06-advanced/03-multi-tenancy.md
  docs/caph/02-topics/06-advanced/04-custom-templates-mhc.md
  docs/caph/03-reference/01-introduction.md
  docs/caph/03-reference/02-hetzner-cluster.md
  docs/caph/03-reference/03-hcloud-machine-template.md
  docs/caph/03-reference/04-hcloud-remediation-template.md
  docs/caph/03-reference/05-hetzner-bare-metal-host.md
  docs/caph/03-reference/06-hetzner-bare-metal-machine-template.md
  docs/caph/03-reference/07-hetzner-bare-metal-remediation-template.md
  docs/caph/03-reference/08-annotations.md
  docs/caph/04-developers/01-development-guide.md
  docs/caph/04-developers/02-tilt.md
  docs/caph/04-developers/03-releasing.md
  docs/caph/04-developers/04-updating-kubernetes-version.md
Labels: size/L
