Repository syself/cluster-api-provider-hetzner, pull requests merged in 2025-09, with the labels that each got.

#1657 :seedling: Updating the Readme
  README.md
Labels: size/XS

#1675 :seedling: avoid unhealthy conditions when cluster starts.
  templates/cilium/cilium.yaml
  test/e2e/data/cni/cilium/cilium.yaml
Labels: size/L, area/templates, area/test

#1676 :seedling: add `make verify-generated-files`. Update controller-gen to v1.18
  .builder-image-version.txt
  .github/actions/e2e/action.yaml
  .github/actions/fixes/action.yaml
  .github/workflows/main-promote-builder-image.yml
  .github/workflows/pr-e2e.yaml
  .github/workflows/pr-lint.yml
  .github/workflows/pr-verify.yml
  .github/workflows/schedule-scan-image.yml
  .gitignore
  Makefile
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hcloudremediationtemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalhosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediations.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerbaremetalremediationtemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
  config/rbac/role.yaml
  hack/golang-modules-update.sh
  hack/verify-generated-files.sh
  images/builder/Dockerfile
  test/e2e/Makefile
  test/e2e/data/ccm/hcloud-ccm-hetzner.yaml
  test/e2e/data/ccm/hcloud-ccm-network.yaml
Labels: size/L, area/github, area/hack, area/templates, area/test, area/api
