Repository syself/cluster-api-provider-hetzner, pull requests merged in 2025-01, with the labels that each got.

#1521 ✨ Backwards compatible support for containerd 2
  templates/cluster-templates/bases/hcloud-kcp-ubuntu.yaml
  templates/cluster-templates/bases/hetznerbaremetal-kcp-ubuntu.yaml
  templates/cluster-templates/bases/kct-md-0-ubuntu.yaml
  templates/node-image/1.28.9-ubuntu-22-04-containerd/scripts/cri.sh
  templates/node-image/1.28.9-ubuntu-22-04-containerd/scripts/kubernetes.sh
  templates/node-image/1.29.4-ubuntu-22-04-containerd/scripts/cri.sh
  templates/node-image/1.29.4-ubuntu-22-04-containerd/scripts/kubernetes.sh
Labels: size/L, area/templates

#1524 🐛 wip nic-info.sh
  pkg/services/baremetal/client/ssh/nic-info.sh
  pkg/services/baremetal/client/ssh/ssh_client.go
  pkg/services/baremetal/host/host.go
Labels: size/M, area/code

#1531 🐛 Fix indentation in cluster template
  templates/cluster-templates/bases/kct-md-0-ubuntu.yaml
Labels: size/M, area/templates
