Repository syself/cluster-api-provider-hetzner, pull requests merged in 2025-07, with the labels that each got.

#1627 :seedling: Use upstream setup-go action.
  .github/actions/e2e/action.yaml
  .github/actions/setup-go/action.yaml
  .github/actions/test-release/action.yaml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/report-bin-size.yml
  .github/workflows/test.yml
Labels: area/github, size/M

#1626 :seedling: Delete server, even it is currently in "initializing".
  pkg/services/hcloud/server/server.go
Labels: area/code, size/XS

#1631 :seedling: Look for different error code while deleting server of lb
  pkg/services/hcloud/server/server.go
Labels: area/code, size/XS

#1637 :seedling: Add SkipCreatingHetznerSecretInWorkloadCluster to HetznerCluster
  Makefile
  api/v1beta1/hetznercluster_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_hetznerclustertemplates.yaml
  controllers/hetznercluster_controller.go
  docs/caph/03-reference/02-hetzner-cluster.md
Labels: area/hack, area/code, area/api, size/S

#1641 :seedling: Update Go to 1.24.5.
  .builder-image-version.txt
  .github/actions/e2e/action.yaml
  .github/actions/test-release/action.yaml
  .github/workflows/build.yml
  .github/workflows/main-promote-builder-image.yml
  .github/workflows/pr-lint.yml
  .github/workflows/release.yml
  .github/workflows/report-bin-size.yml
  .github/workflows/schedule-scan-image.yml
  .github/workflows/test.yml
  Makefile
  go.mod
  images/builder/Dockerfile
  images/caph/Dockerfile
  pkg/services/baremetal/client/mocks/robot/Client.go
  pkg/services/baremetal/client/mocks/robot/Factory.go
  pkg/services/baremetal/client/mocks/ssh/Client.go
  pkg/services/baremetal/client/mocks/ssh/Factory.go
  pkg/services/hcloud/client/mocks/Client.go
  pkg/services/hcloud/client/mocks/Factory.go
Labels: area/github, area/hack, size/M, area/code
